.JDT13 {
    min-height: 7px;
},
.JDT14 {
    min-height: 105px;
    padding-left: 121px;
    position: relative;
},
.JDT15 {
    padding-left: 20px;
    padding-top: 20px;
    position: relative;
},
.JDT16 {
    height: 370px;
    font-size: 14px;
    line-height: 22px;
    overflow: hidden;
},
.JDT17 {
    height: 70px;
    font-size: 14px;
    line-height: 22px;
},
.JDT18 {
    height: 458px;
    font-size: 14px;
    line-height: 22px;
    overflow-y: auto;
},
.JDT19 {
    padding-left: 20px;
    position: relative;
},
.JDT20 {
    padding-top: 10px;
    position: relative;
    font-size: 14px;
    color: #9E9E9E;
},
.header123 {
    border-bottom: 1px solid #dadada;
    margin-bottom: 20px;
},
.header-shop {
    font-size: 30px;
    float: left;
},
.location-shop {
    font-size: 25px;
    float: left;
},
.pet-text {
    font-size: 25px;
    float: left;
},
.pictureSlice{
  width:200px;
  height:200px;
},
.picture-map{
  max-width:20px;
  max-height:20px;
},
.pet-dog-bg {
  width:100%;
  height:600px;
  background:#E0E0E0;
},
.pet-dog-bg img {
    position: absolute;
    display: inline-block;
    max-height: 100%;
    max-width: 100%;
    overflow: auto;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
},
.pet-pic {
  width:100%;
  height:900px;
  margin: auto;
  max-height:900px;
},
.pet-pic img{
  max-width: 100%;
  max-height: 100%;
},
.carousel {
  width:100%;
  max-height:420px;
  margin: auto;
  overflow-y: hidden;
},
.carousel-inner {
    display: block;
    height: 100%;
    width: 100%;
    overflow-y: hidden;
},
.badge {
  height: 100px;
  width: 100px;
  text-align: center;
  vertical-align: middle;
  border-radius: 100%;
  background:#0099ff;
},
.description {
  height: 153px;
  font-size: 14px;
  line-height: 22px;
  overflow: hidden;
},
.center-text {
  text-align:center;
  vertical-align:middle;
  display: table-cell;
},
.center-img {
  position: absolute;
  margin: auto;
  height: 10px;
  width: 10px;
},
.map {
  height: 300px;
},
.space-1 {
  height: 30px;
},
.circle-1{
  width: 20px;
  height: 20px;
  border-radius: 50%;
  font-size: 50px;
  color: #fff;
  line-height: 100px;
  text-align: center;
  vertical-align: middle;
  background: #0099ff;
  display: table;
},
.circle {
  width: 85px;
  height: 85px;
  border-radius: 50%;
  font-size: 50px;
  color: #fff;
  line-height: 80px;
  text-align: center;
  vertical-align: middle;
  background: #0099ff;
  display: table;
  box-sizing: border-box;
}
