.JDT14 {
    min-height: 105px;
    padding-left: 121px;
    position: relative;
},
.header123 {
    border-bottom: 1px solid #dadada;
    margin-bottom: 20px;
},
.header-shop {
    font-size: 30px;
    float: left;
},
.location-shop {
    font-size: 25px;
    float: left;
},
.pictureSlice{
  width:200px;
  height:200px;
},
.picture-map{
  max-width:20px;
  max-height:20px;
},
.carousel {
  width:100%;
  height:420px;
  margin: auto;
},
.carousel-inner {
    display: block;
    height: 420px;
    width: 100%;
},
.badge {
  height: 100px;
  width: 100px;
  text-align: center;
  vertical-align: middle;
  border-radius: 100%;
  background:#0099ff;
},
.description {
  height: 153px;
  font-size: 14px;
  line-height: 22px;
  overflow: hidden;
},
.center-text {
  text-align:center;
  vertical-align:middle;
  display: table-cell;
},
.center-img {
  position: absolute;
  margin: auto;
  height: 10px;
  width: 10px;
},
.map {
  height: 300px;
},
.space-1 {
  height: 30px;
},
.circle-1{
  width: 20px;
  height: 20px;
  border-radius: 50%;
  font-size: 50px;
  color: #fff;
  line-height: 100px;
  text-align: center;
  vertical-align: middle;
  background: #0099ff;
  display: table;
},
.circle {
  width: 180px;
  height: 180px;
  border-radius: 50%;
  font-size: 50px;
  color: #fff;
  line-height: 100px;
  text-align: center;
  vertical-align: middle;
  background: #0099ff;
  display: table;
}
